<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View PDF</title>
</head>
<body>
    <div class="pdf-container">
        <img id="pdf-image" class="pdf-image" src="{{ url_for('change_page', filename=pdf_file, page_num=current_page) }}">
        <div class="page-navigation">
            <form action="{{ url_for('previous_page', filename=pdf_file, current_page=current_page) }}" method="POST">
                <button type="submit" {% if current_page == 1 %}disabled{% endif %}>Previous</button>
            </form>
            {{ current_page }} / {{ total_pages }}
            <form action="{{ url_for('next_page', filename=pdf_file, current_page=current_page) }}" method="POST">
                <button type="submit" {% if current_page == total_pages %}disabled{% endif %}>Next</button>
            </form>
        </div>
    </div>
        <audio controls>
        <source src="{{ url_for('static', filename='uploads/audio/book/page_' + (current_page-1)|string + '.mp3') }}" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
</body>
</html>
